.main-logo {
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
}

.nav-tabs-outline {
  justify-content: left;
}

.active {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
}

.disabled {
  color: #efefef !important;
  border: 1px solid #efefef !important;
}

.gallery-item-group {
  flex-basis: 33%!important;
  max-width: 33%!important;
}

.title-divider {
  margin-top: 1rem;
  margin-bottom: 2rem
}

.text-sans-serif {
  font-family: "Open Sans",sans-serif!important;
  font-weight: 200!important;
}

.text-serif {
  font-family: 'Gelasio', serif!important;
  letter-spacing: 0.75px;
}

.text-subtitle {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.5rem;
  word-spacing: 2px;
}

.text-small {
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.8;
}

.text-white strong {
  color: #989898;

}

@media (max-width: 500px) {

  .resize-padding {
    padding-top: 50px;
  }

  .gallery-item-group{
    flex-basis: 100%!important;
    max-width: 100%!important;
  }

  .title-divider {
    margin-top: 0.5rem;
    margin-bottom: 1rem
  }

  .text-resize {
    font-size: 1.6rem;
  }

  .text-subtitle {
    font-size: 1rem;
  }

}
